.header-logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.3em;
    color: #111;
}
.header-logo-italic{
    font-family: "Montserrat",sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: #111;
}
.header-menu-item{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: #111;
}
.header-menu-link{
    width: 100px;
    height: 24px;
    color: #111;
}
.section-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.03em;
    color: #fafafa;
}
.section-button{
    background: rgba(17, 17, 17, 0.6);
    border-radius: 30px;
    width: 1136px;
    height: 150px;
}
.button{
    border-radius: 100px;
    padding: 14px 40px;
    width: 144px;
    height: 45px;
    background: #fd9222;
}
.section-link2{
    border: 1px solid var #fff;
    border-radius: 100px;
    padding: 14px 40px;
    width: 183px;
    height: 45px;
}
.section-link2{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #fff;
}